<!DOCTYPE html>
<html ng-app='todosApp'>
<head>
	<title>To Do App</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="./css/styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
</head>
<body id='container' ng-controller='TodosController as todosCtrl'>
	<h1 class="header">John's and Gus' To Do App</h1>

	<hr>

	<h2 class="remaining">You have {{todosCtrl.allTodos.length - todosCtrl.getCompleted().length}} things to do.</h2>

	<ul class="todos">
		<li  ng-repeat='todo in todosCtrl.allTodos' >
			<input type="checkbox" ng-model="todo.completed" name="completed">
			<p ng-class="{'completed':todo.completed}">{{todo.title}}</p>
		</li>
	</ul>

	<form ng-submit='todosCtrl.addTodo()'>
		<input type="text" placeholder='New Todo' ng-model='todosCtrl.newTodo.title'>
		<label for="todosCtrl.newTodo.importance">Number</label>
		<input type="number" ng-model='todosCtrl.newTodo.importance'>
		<input type="checkbox" placeholder='Importance Level' ng-checked='todosCtrl.newTodo.completed' ng-model='todosCtrl.newTodo.completed'>
		<input class="btn btn-default" type="submit"/>
	</form>

<script type="text/javascript" src="./js/main.js"></script>
<script type="text/javascript" src="./js/todosController.js"></script>
</body>
</html>
